MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>.mongodb.net/react_router_post_app

GITHUB_CLIENT_ID=xxxxxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxxxxx
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

GOOGLE_CLIENT_ID=xxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxx
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback